In [44]:
import pandas as pd
import numpy as np

column_names = ['Sample', 'Clump Thinkness', 'Uniformity of Cell Size', 
               'Uniformity of Cell Shape', 'Marginal Adhesion', 
               'Single Epithelial Cell Size', 'Bare Nuclei', 
               'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'Class']
data = pd.read_csv('breast-cancer-wisconsin.data', names=column_names)

data = data.replace(to_replace='?', value=np.nan) # 将？替换成缺省值
data = data.dropna(how='any') # 丢弃带有缺省值的数据
data.shape

(683, 11)

In [45]:
pd.DataFrame(data.head(10))

,Sample,Clump Thinkness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2

In [46]:
from sklearn.model_selection import train_test_split

# 随机采样 25% 用于测试，剩下 75% 用于训练
X_train, X_test, y_train, y_test = train_test_split(data[column_names[1:10]],
                                                    data[column_names[10]],
                                                    test_size=0.25,
                                                    random_state=33)

y_train.value_counts()

2    344
4    168
Name: Class, dtype: int64

In [47]:
y_test.value_counts()

2    100
4     71
Name: Class, dtype: int64

In [48]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import classification_report

ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

lr = LogisticRegression()
sgdc = SGDClassifier(max_iter=15)
lr.fit(X_train, y_train)
lr_y_predict = lr.predict(X_test)
sgdc.fit(X_train, y_train)
sgdc_y_predict = sgdc.predict(X_test)

In [49]:

print('Accuracy of LR Classifier:', lr.score(X_test, y_test))
print(classification_report(y_test, lr_y_predict, target_names=['Benign', 'Malignant']))

Accuracy of LR Classifier: 0.988304093567
             precision    recall  f1-score   support

     Benign       0.99      0.99      0.99       100
  Malignant       0.99      0.99      0.99        71

avg / total       0.99      0.99      0.99       171

In [50]:
print('Accuracy of SGD Classifier:', sgdc.score(X_test, y_test))
print(classification_report(y_test, sgdc_y_predict, target_names=['Benign', 'Malignant']))

Accuracy of SGD Classifier: 0.982456140351
             precision    recall  f1-score   support

     Benign       1.00      0.97      0.98       100
  Malignant       0.96      1.00      0.98        71

avg / total       0.98      0.98      0.98       171